In [1]:
user_input = int(input("Enter a number: "))
minVal = user_input
total_sum = 0
for i in range(user_input):
    user_input = int(input("Enter a number: "))
    total_sum += user_input
    
    if minVal > user_input:
        minVal == user_input
print("The total sum of input numbers is: ", total_sum)
print("The smallest value of entered numbers is: ", minVal)

Enter a number: 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The total sum of input numbers is:  15
The smallest value of entered numbers is:  5

# Lists
    -array
    append()/Insert()
    pop()/remove()

In [3]:
#Q7
for i in range(100):
    print(i+1, "Enter your Name")

1 Enter your Name
2 Enter your Name
3 Enter your Name
4 Enter your Name
5 Enter your Name
6 Enter your Name
7 Enter your Name
8 Enter your Name
9 Enter your Name
10 Enter your Name
11 Enter your Name
12 Enter your Name
13 Enter your Name
14 Enter your Name
15 Enter your Name
16 Enter your Name
17 Enter your Name
18 Enter your Name
19 Enter your Name
20 Enter your Name
21 Enter your Name
22 Enter your Name
23 Enter your Name
24 Enter your Name
25 Enter your Name
26 Enter your Name
27 Enter your Name
28 Enter your Name
29 Enter your Name
30 Enter your Name
31 Enter your Name
32 Enter your Name
33 Enter your Name
34 Enter your Name
35 Enter your Name
36 Enter your Name
37 Enter your Name
38 Enter your Name
39 Enter your Name
40 Enter your Name
41 Enter your Name
42 Enter your Name
43 Enter your Name
44 Enter your Name
45 Enter your Name
46 Enter your Name
47 Enter your Name
48 Enter your Name
49 Enter your Name
50 Enter your Name
51 Enter your Name
52 Enter your Name
53 Enter your Name
54 Enter your Name
55 Enter your Name
56 Enter your Name
57 Enter your Name
58 Enter your Name
59 Enter your Name
60 Enter your Name
61 Enter your Name
62 Enter your Name
63 Enter your Name
64 Enter your Name
65 Enter your Name
66 Enter your Name
67 Enter your Name
68 Enter your Name
69 Enter your Name
70 Enter your Name
71 Enter your Name
72 Enter your Name
73 Enter your Name
74 Enter your Name
75 Enter your Name
76 Enter your Name
77 Enter your Name
78 Enter your Name
79 Enter your Name
80 Enter your Name
81 Enter your Name
82 Enter your Name
83 Enter your Name
84 Enter your Name
85 Enter your Name
86 Enter your Name
87 Enter your Name
88 Enter your Name
89 Enter your Name
90 Enter your Name
91 Enter your Name
92 Enter your Name
93 Enter your Name
94 Enter your Name
95 Enter your Name
96 Enter your Name
97 Enter your Name
98 Enter your Name
99 Enter your Name
100 Enter your Name

In [32]:

list_1 = ["Ali", "Noman", "Jan", "Ahmad", "yawar"]
list2 = ["Apple", "Banana", "mango", "pine apple"]
print(list_1[1::3])
print(list_1[1:3])
list2.append("cherry")
print(list2)
list_1.insert(1, "Abbas")
print(list_1)

list_1.remove("Jan")
print(list_1)
list2.pop(1)
print(list2)

['Noman', 'yawar']
['Noman', 'Jan']
['Apple', 'Banana', 'mango', 'pine apple', 'cherry']
['Ali', 'Abbas', 'Noman', 'Jan', 'Ahmad', 'yawar']
['Ali', 'Abbas', 'Noman', 'Ahmad', 'yawar']
['Apple', 'mango', 'pine apple', 'cherry']

In [35]:
tuple1 = ("a", "b", "c", "d", "e")

print(tuple1)

tuple1.append("f")
print(tuple1)

('a', 'b', 'c', 'd', 'e')

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
# #ist_1[1]
# list_1[1:3]
# list_1[0::2]
# list_1[::-1]
# list_1[::]
#indexing

['Ali', 'Noman', 'Jan', 'Noman']

In [20]:
list_1 = ["Ali", "Noman", "Jan", "Ahmad"]
list2 = ["Ali", "Noman", "Jan", "Ahmad"]
list_1.extend(list2)
list_1

['Ali', 'Noman', 'Jan', 'Ahmad', 'Ali', 'Noman', 'Jan', 'Ahmad']

In [21]:
thistuple = ("a", "b", "c")
print(thistuple)

('a', 'b', 'c')

In [26]:
dict1= {"key": "val", "ALi": "Ahmad" }
dict1

{'key': 'val', 'ALi': 'Ahmad'}

In [35]:
dict2 = {"Ali" : "Ahmad", "Muhammad" : "khan"}
dict2["Ali"]

'Ahmad'

In [37]:
dict2.update("shan" : "shahid")
dict2
#incredible

SyntaxError: invalid syntax (3160217865.py, line 1)

In [41]:
list_of_users = ["Ali", "Noman", "Jan", "Ahmad"]
for user in list_of_users:
    user = user +" last name"
    print(user)

Ali last name
Noman last name
Jan last name
Ahmad last name

In [43]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [49]:
# for i in range(3,2, 10):
#     print(i)

i= 10
while i>5:
    print(i)
    i=i-1

10
9
8
7
6

In [5]:
age= [12, 15, 15, 17, 19]
newage = []
for i in age:
    newage.append(i-1)
    print(newage)

[11]
[11, 14]
[11, 14, 14]
[11, 14, 14, 16]
[11, 14, 14, 16, 18]

user_input= int(input("enter number"))
list_of_num = []
last_new_num = 0
for i in range(user_input):
    new_num = int(input("Enter val no" + str(i+1) + ":"))
    list_of_num.append(new_num)
print(list_of_num)
print(min())

list_of_num = []
for i in range(5):
    last_num = int(input("Enter val no" + str(i+1) + ":"))
    list_of_num.append(last_num)
    if i==0:
        min_val = last_num
    else:
        min_val= min(min_val, last_val)
print(min_val)

In [64]:
#  Q#11

n = 4
for i in range(n):
    for j in range(20):
        print("*" , end = "")
    print()

********************
********************
********************
********************